In [14]:
import pandas as pd

In [16]:
air = pd.read_csv('AirData.csv')

In [17]:
air.head()

,EventId,InvestigationType,AccidentNumber,EventDate,Location,Country,Latitude,Longitude,AirportCode,AirportName,...,PurposeOfFlight,AirCarrier,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,WeatherCondition,BroadPhaseOfFlight,ReportStatus,PublicationDate
0,20200904X81526,Accident,CEN20CA386,09/03/2020,"Reserve, LA",United States,NaN,NaN,KAPS,NaN,...,Personal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,09/08/2020
1,20200831X75141,Accident,ERA20CA300,08/30/2020,"Millington, MD",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,09/01/2020
2,20200830X64312,Accident,CEN20LA370,08/30/2020,"Bryan, TX",United States,30.715556,-96.331389,CFD,Coulter Field,...,Personal,NaN,3.0,1.0,NaN,NaN,VMC,TAKEOFF,Preliminary,09/03/2020
3,20200829X95443,Accident,CEN20LA367,08/29/2020,"Lawrenceville, IL",United States,38.789722,-87.605000,LWV,Lawrenceville-Vincennes Intl,...,Personal,NaN,1.0,NaN,NaN,NaN,IMC,APPROACH,Preliminary,09/03/2020
4,20200828X62708,Accident,WPR20LA291,08/28/2020,"Grand Canyon, AZ",United States,35.936111,-112.131389,KGCN,Grand Canyon National Park Apt,...,Skydiving,NaN,NaN,NaN,1.0,NaN,VMC,APPROACH,Preliminary,09/03/2020

In [19]:
air.isnull().sum()

EventId                     0
InvestigationType          15
AccidentNumber              0
EventDate                   0
Location                   77
Country                   507
Latitude                54392
Longitude               54401
AirportCode             37185
AirportName             34469
InjurySeverity              0
AircraftDamage           2919
AircraftCategory        56745
RegistrationNumber       4214
Make                       70
Model                      99
AmateurBuilt              684
NumberOfEngines          5448
EngineType               4605
FARDescription          57047
Schedule                73417
PurposeOfFlight          5386
AirCarrier              81268
TotalFatalInjuries      28260
TotalSeriousInjuries    30992
TotalMinorInjuries      29757
TotalUninjured          15131
WeatherCondition         3484
BroadPhaseOfFlight       6628
ReportStatus                0
PublicationDate         14731
dtype: int64

In [24]:
air.isnull().shape

(85533, 31)

In [25]:
air.isnull().sum() / air.isnull().shape[0] * 100

EventId                  0.000000
InvestigationType        0.017537
AccidentNumber           0.000000
EventDate                0.000000
Location                 0.090024
Country                  0.592754
Latitude                63.591830
Longitude               63.602352
AirportCode             43.474448
AirportName             40.299066
InjurySeverity           0.000000
AircraftDamage           3.412718
AircraftCategory        66.342815
RegistrationNumber       4.926753
Make                     0.081840
Model                    0.115745
AmateurBuilt             0.799691
NumberOfEngines          6.369471
EngineType               5.383887
FARDescription          66.695895
Schedule                85.834707
PurposeOfFlight          6.296985
AirCarrier              95.013620
TotalFatalInjuries      33.039879
TotalSeriousInjuries    36.233968
TotalMinorInjuries      34.790081
TotalUninjured          17.690248
WeatherCondition         4.073282
BroadPhaseOfFlight       7.749056
ReportStatus             0.000000
PublicationDate         17.222592
dtype: float64

# Dropping Columns

In [29]:
air.shape

(85533, 31)

In [33]:
dropped_columns = ['Latitude', 'Longitude', 'AircraftCategory', 'AirCarrier', 'PublicationDate',
                  'ReportStatus', 'Schedule', 'FARDescription']

air.drop(dropped_columns, axis = 1, inplace = True)

In [51]:
dropped_columns_2 = ['RegistrationNumber', 'AmateurBuilt']

air.drop(dropped_columns_2, axis = 1, inplace = True)

In [55]:
dropped_columns_3 = ['InvestigationType', 'EventId']

air.drop(dropped_columns_3, axis = 1, inplace = True)

In [64]:
dropped_columns_4 = ['PurposeOfFlight']

air.drop(dropped_columns_4, axis = 1, inplace = True)

In [65]:
air.isnull().sum() / air.isnull().shape[0] * 100

AccidentNumber           0.000000
EventDate                0.000000
Location                 0.090024
Country                  0.592754
AirportCode             43.474448
AirportName             40.299066
InjurySeverity           0.000000
AircraftDamage           3.412718
Make                     0.081840
Model                    0.115745
NumberOfEngines          6.369471
EngineType               5.383887
TotalFatalInjuries      33.039879
TotalSeriousInjuries    36.233968
TotalMinorInjuries      34.790081
TotalUninjured          17.690248
WeatherCondition         4.073282
BroadPhaseOfFlight       7.749056
dtype: float64

In [66]:
air.shape

(85533, 18)

# Dropping Rows

In [ ]:
air.dropna(subset = ['?????'], inplace = True) # I will not use if for Air Disasters report.

# Fixing a data type

In [67]:
air.dtypes

AccidentNumber           object
EventDate                object
Location                 object
Country                  object
AirportCode              object
AirportName              object
InjurySeverity           object
AircraftDamage           object
Make                     object
Model                    object
NumberOfEngines         float64
EngineType               object
TotalFatalInjuries      float64
TotalSeriousInjuries    float64
TotalMinorInjuries      float64
TotalUninjured          float64
WeatherCondition         object
BroadPhaseOfFlight       object
dtype: object

In [61]:
air.NumberOfEngines.value_counts()

1.0    67228
2.0    10771
0.0     1177
3.0      481
4.0      427
8.0        1
Name: NumberOfEngines, dtype: int64

In [68]:
air.Make.value_counts()

CESSNA                   17832
PIPER                     9843
Cessna                    8487
Piper                     4539
BEECH                     3286
                         ...
Miltenberger                 1
North American-Barene        1
Pollard & Huntley            1
RAND KR1                     1
Alan Wilson                  1
Name: Make, Length: 8084, dtype: int64

In [69]:
air.head()

,AccidentNumber,EventDate,Location,Country,AirportCode,AirportName,InjurySeverity,AircraftDamage,Make,Model,NumberOfEngines,EngineType,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,WeatherCondition,BroadPhaseOfFlight
0,CEN20CA386,09/03/2020,"Reserve, LA",United States,KAPS,NaN,Unavailable,Substantial,PIPER,PA38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ERA20CA300,08/30/2020,"Millington, MD",United States,NaN,NaN,Unavailable,Substantial,Cessna,182,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CEN20LA370,08/30/2020,"Bryan, TX",United States,CFD,Coulter Field,Fatal(3),Substantial,Piper,PA24,1.0,Reciprocating,3.0,1.0,NaN,NaN,VMC,TAKEOFF
3,CEN20LA367,08/29/2020,"Lawrenceville, IL",United States,LWV,Lawrenceville-Vincennes Intl,Fatal(1),Destroyed,Cirrus,SR22,1.0,Reciprocating,1.0,NaN,NaN,NaN,IMC,APPROACH
4,WPR20LA291,08/28/2020,"Grand Canyon, AZ",United States,KGCN,Grand Canyon National Park Apt,Non-Fatal,Substantial,Cessna,TU206,1.0,Reciprocating,NaN,NaN,1.0,NaN,VMC,APPROACH

# Examining Parameters

In [70]:
air.WeatherCondition.value_counts()

VMC    75074
IMC     5888
UNK     1087
Name: WeatherCondition, dtype: int64

In [72]:
air.WeatherCondition.value_counts(normalize = True)

VMC    0.914990
IMC    0.071762
UNK    0.013248
Name: WeatherCondition, dtype: float64

In [76]:
air.Model.value_counts()

152               2342
172               1645
172N              1142
PA-28-140          902
150                802
                  ...
Glasair SHA          1
300/269C             1
MINI ACE CA-61       1
G167B                1
HUMINGBIRD           1
Name: Model, Length: 12045, dtype: int64

In [77]:
Boeing_planes = air[air['Make'] == 'Boeing']

In [85]:
Boeing_planes.shape

(845, 18)

In [80]:
Airbus_planes = air[air['Make'] == 'Airbus']

In [84]:
Airbus_planes.shape

(34, 18)

In [108]:
Airbus_planes.Model.value_counts()

A320         9
A319         5
A321         4
A330         3
A321-231     1
A320-211     1
A320-232     1
A-320        1
A319-131     1
A-320-232    1
A310         1
A340         1
A-320-200    1
A340-300     1
A310-304     1
A-300-B4     1
A320-214     1
Name: Model, dtype: int64

In [107]:
B_737_1 = air[(air['Model'] == '737') & air['Make'] == 'Boeing']

C:\Users\Alp\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [105]:
B_737 = Boeing_planes.Model == '737'

In [106]:
B_737.value_counts()

False    798
True      47
Name: Model, dtype: int64

In [96]:
Boeing_planes.Model.value_counts()

737             47
737-200         32
737-300         29
757             26
747-400         21
                ..
727-214          1
B-737            1
767-300ER(F)     1
1942             1
A75N (PT17)      1
Name: Model, Length: 306, dtype: int64

In [ ]:
737 icinde farkli yazilmis 737-200, B-737, 737-300, 737 hepsini analiz

In [ ]:
Airbus icinde yukaridakine benzer islem

In [ ]:
Comparing violations by gender asamasinda kaldik